/* Write your CSS here */
.text {
  font-family: roboto;
  font-size: 25px;
  color: #64748b;
  font-weight: bold;
}
.yet_to_register_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yet-to-register {
  height: 200px;
  width: 220px;
  margin: 15px;
}
.paragraph {
  font-family: roboto;
  font-size: 15px;
  color: #64748b;
}
.button {
  background-color: #0967d2;
  border-radius: 5px;
  border-width: 0px;
  color: #ffffff;
  font-family: roboto;
  font-size: 15px;
  text-align: center;
}
.registered-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registered-icon {
  height: 60px;
  width: 60px;
  margin-bottom: 30px;
}
.text {
  font-family: roboto;
  font-size: 30px;
  color: #323f4b;
  font-weight: bold;
}
.registrations-closed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registrations-closed{
  height: 25px;
  width: 250px;
}
.head{
    font-family: roboto;
  font-size: 30px;
  color: #323f4b;
  font-weight: bold;
}
.caption{
    font-family: roboto;
  font-size: 15px;
  color: #64748b;
}